<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_partner.present? %>
      <%= link_to "logout", session_path(current_partner.id), method: :delete %>
    <% elsif current_client.present? %>
      <%= link_to "logout", client_session_path(current_client.id), method: :delete %>
    <% else %>
      <%= link_to "パートナーさま", new_session_path %>
      <%= link_to "クライアントさま", new_client_session_path %>
    <% end %>
    <br />
    <%= yield %>
  </body>
</html>
